[Unit]
Description=Sausage-store

[Service]
User=jarservice
EnvironmentFile=/home/jarservice/vars
StandardOutput=file:/opt/log/sausage-store-backend.log
Restart=always
ExecStart=/usr/bin/java \
    -Dmyserver.basePath='/home/jarservice/' \
    -Dmyserver.bindAddr='127.0.0.1' \
    -Dmyserver.bindPort='8080' \
    -Dmyserver.hostName='Sausage-store' \
    -Dspring.datasource.url=jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME} \
    -Dspring.datasource.username=${PSQL_USER} \
    -Dspring.datasource.password=${PSQL_PASSWORD} \
    -Dspring.data.mongodb.uri=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:27018/${MONGO_DATABASE}?tls=true \
    -jar '/home/jarservice/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
